html,body,#content
{
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


#mapHeader
{
	background-color:rgba( 10, 10, 10, 0.7);
	position: absolute;
	top: 0;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	height:8%;
	z-index: 1;
}

#buttonGroupLeft, #buttonGroupRight
{
	text-align : center;
	float: left;
	width:10%;
	color: white;
}


#sliderSteps
{
	color: white;
}

#sliderCurrentDate, #sliderCurrentDistance
{
	text-align : center;
	color: white;
	width: 50%;
	float: left;
}

#sliderContainer
{
	width : 75%;
	float: left;
}

.imageSlideshow{
	min-height: 100%;
	position: relative;
	width: 100%;
	background-image: no-repeat center;
	 -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}



#slideshowContainer{
	background-color: black;
	text-align: center;
	height:100%;
	width:100%;
}

.slideshowImageInfo{
	position: absolute;
	font-size: 1.5em;
	color: #FFFFFF;
	 bottom: 20px;
}
.slideshowImageInfo .content{
	float: left;
	margin-left: 10%;
	width: 85%;
}
.slideshowImageInfo .date{
float: left;
width: 5%;
}

.slideshowImageInfo .imagePreviewContainer
{
	display:none;
}